
<aside>
  <ul>
    <h2> Main Collections </h2>
    <% @collections.each do |x| %>
      <li>
        <button data-id="<%=x.id%>" class="btn col-button">Load: <%=x.title%></button>
      </li>
    <% end %>
  </ul>
</aside>
<main>
      
    

</main>
    



