<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/app.css">
  <script src="assets/app.js"></script>

  <title></title>
</head>
<body>
<header> <h1>Filthy</h1> </header>
  <%= yield %>
<div class="modal"></div>
</body>

